name: Publish NuGet Package

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      prerelease:
        description: "Is Prerelease"
        type: boolean
        required: true
        default: true

permissions: write-all

env:
  PKG_VERSION: "1.0.${{ github.run_number }}"

jobs:
  publish:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: bitbound/workflows/.github/actions/setup-dotnet-latest@main
    
    - name: Build (dev)
      if: ${{ inputs.prerelease }}
      run: dotnet build Bitbound.Analyzers.slnx --configuration Release  -p:FileVersion="${{ env.PKG_VERSION }}" -p:AssemblyVersion="${{ env.PKG_VERSION }}" -p:VersionPrefix="${{ env.PKG_VERSION }}" -p:VersionSuffix="dev"

    - name: Build (prod)
      if: ${{ inputs.prerelease == false}}
      run: dotnet build Bitbound.Analyzers.slnx --configuration Release  -p:FileVersion="${{ env.PKG_VERSION }}" -p:AssemblyVersion="${{ env.PKG_VERSION }}" -p:VersionPrefix="${{ env.PKG_VERSION }}"

    - name: Test
      run: dotnet test Bitbound.Analyzers.slnx --configuration Release --no-build

    - name: Pack
      run: dotnet pack Bitbound.Analyzers.MemberOrder.Package/Bitbound.Analyzers.MemberOrder.Package.csproj --configuration Release --no-build -p:PackageVersion=${{ env.PKG_VERSION }}
    
    - name: Publish
      if: github.ref == 'refs/heads/main'
      run: dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
